# Step 1: Data Preprocessing

In [3]:
import pandas as pd
import numpy as np

In [2]:
# We only concate the first two train_transaction dataframes for testing purposes.
train_transaction_dataframes_split = [pd.read_csv('data/train_transaction/train_transaction-' + str(i) + '.csv') for i in range(1,3)]
train_transaction = pd.concat(train_transaction_dataframes_split, ignore_index=True)

# Test if pd.concat works appropriately...
print(train_transaction_dataframes_split[0].tail())
print(train_transaction_dataframes_split[1].head())
print(train_transaction.iloc[[51650]])
print(train_transaction.iloc[[51651]])

       TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
51646        3038646        0        1210011          158.95         W   3484
51647        3038647        0        1210011           29.00         W   2392
51648        3038648        0        1210012          100.00         H   8830
51649        3038649        0        1210024           25.95         W   6170
51650        3038650        0        1210024           57.95         W  17188

       card2  card3       card4  card5  ...  V330  V331  V332  V333  V334  \
51646  372.0  150.0  mastercard  117.0  ...   NaN   NaN   NaN   NaN   NaN
51647  360.0  150.0  mastercard  166.0  ...   NaN   NaN   NaN   NaN   NaN
51648  250.0  150.0        visa  226.0  ...   0.0   0.0   0.0   0.0   0.0
51649  174.0  150.0        visa  226.0  ...   NaN   NaN   NaN   NaN   NaN
51650  321.0  150.0        visa  226.0  ...   NaN   NaN   NaN   NaN   NaN

      V335 V336  V337  V338  V339
51646  NaN  NaN   NaN   NaN   NaN
51647  NaN  NaN   NaN   NaN   NaN
51648  0.0  0.0   0.0   0.0   0.0
51649  NaN  NaN   NaN   NaN   NaN
51650  NaN  NaN   NaN   NaN   NaN

[5 rows x 394 columns]
   TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
0        3038651        0        1210027          39.061         C  15885
1        3038652        0        1210040          50.000         H   6019
2        3038653        0        1210050         117.000         W   2455
3        3038654        0        1210051         113.950         W  16326
4        3038655        1        1210069         100.000         R  12065

   card2  card3       card4  card5  ...  V330  V331  V332  V333  V334 V335  \
0  545.0  185.0        visa  138.0  ...   NaN   NaN   NaN   NaN   NaN  NaN
1  583.0  150.0        visa  226.0  ...   0.0   0.0   0.0   0.0   0.0  0.0
2  321.0  150.0        visa  226.0  ...   NaN   NaN   NaN   NaN   NaN  NaN
3  321.0  150.0        visa  226.0  ...   NaN   NaN   NaN   NaN   NaN  NaN
4  575.0  150.0  mastercard  224.0  ...   0.0   0.0   0.0   0.0   0.0  0.0

  V336  V337  V338  V339
0  NaN   NaN   NaN   NaN
1  0.0   0.0   0.0   0.0
2  NaN   NaN   NaN   NaN
3  NaN   NaN   NaN   NaN
4  0.0   0.0   0.0   0.0

[5 rows x 394 columns]
       TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
51650        3038650        0        1210024           57.95         W  17188

       card2  card3 card4  card5  ...  V330  V331  V332  V333  V334 V335 V336  \
51650  321.0  150.0  visa  226.0  ...   NaN   NaN   NaN   NaN   NaN  NaN  NaN

       V337  V338  V339
51650   NaN   NaN   NaN

[1 rows x 394 columns]
       TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
51651        3038651        0        1210027          39.061         C  15885

       card2  card3 card4  card5  ...  V330  V331  V332  V333  V334 V335 V336  \
51651  545.0  185.0  visa  138.0  ...   NaN   NaN   NaN   NaN   NaN  NaN  NaN

       V337  V338  V339
51651   NaN   NaN   NaN

[1 rows x 394 columns]

In [3]:
train_transaction_dataframes_split = [pd.read_csv('data/train_transaction/train_transaction-' + str(i) + '.csv') for i in range(1,8)]
train_transaction = pd.concat(train_transaction_dataframes_split, ignore_index=True)

In [ ]:
test_transaction_dataframes_split = [pd.read_csv('data/test_transaction/test_transaction-' + str(i) + '.csv') for i in range(1,7)]
test_transaction = pd.concat(test_transaction_dataframes_split, ignore_index=True)

In [4]:
train_identity = pd.read_csv('data/train_identity.csv')

In [5]:
test_identity = pd.read_csv('data/test_identity.csv')

In [6]:
print(train_identity.head())
print(test_identity.head())

   TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  \
0        2987004    0.0   70787.0    NaN    NaN    NaN    NaN    NaN    NaN
1        2987008   -5.0   98945.0    NaN    NaN    0.0   -5.0    NaN    NaN
2        2987010   -5.0  191631.0    0.0    0.0    0.0    0.0    NaN    NaN
3        2987011   -5.0  221832.0    NaN    NaN    0.0   -6.0    NaN    NaN
4        2987016    0.0    7460.0    0.0    0.0    1.0    0.0    NaN    NaN

   id_09              ...                              id_31  id_32  \
0    NaN              ...                samsung browser 6.2   32.0
1    NaN              ...                 mobile safari 11.0   32.0
2    0.0              ...                        chrome 62.0    NaN
3    NaN              ...                        chrome 62.0    NaN
4    0.0              ...                        chrome 62.0   24.0

       id_33           id_34  id_35 id_36 id_37  id_38  DeviceType  \
0  2220x1080  match_status:2      T     F     T      T      mobile
1   1334x750  match_status:1      T     F     F      T      mobile
2        NaN             NaN      F     F     T      T     desktop
3        NaN             NaN      F     F     T      T     desktop
4   1280x800  match_status:2      T     F     T      T     desktop

                      DeviceInfo
0  SAMSUNG SM-G892A Build/NRD90M
1                     iOS Device
2                        Windows
3                            NaN
4                          MacOS

[5 rows x 41 columns]
   TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  \
0        3663586  -45.0  280290.0    NaN    NaN    0.0    0.0    NaN    NaN
1        3663588    0.0    3579.0    0.0    0.0    0.0    0.0    NaN    NaN
2        3663597   -5.0  185210.0    NaN    NaN    1.0    0.0    NaN    NaN
3        3663601  -45.0  252944.0    0.0    0.0    0.0    0.0    NaN    NaN
4        3663602  -95.0  328680.0    NaN    NaN    7.0  -33.0    NaN    NaN

   id_09             ...                                 id_31  id_32  \
0    NaN             ...               chrome 67.0 for android    NaN
1    0.0             ...               chrome 67.0 for android   24.0
2    NaN             ...                    ie 11.0 for tablet    NaN
3    0.0             ...               chrome 67.0 for android    NaN
4    NaN             ...               chrome 67.0 for android    NaN

      id_33           id_34  id_35 id_36 id_37  id_38  DeviceType  \
0       NaN             NaN      F     F     T      F      mobile
1  1280x720  match_status:2      T     F     T      T      mobile
2       NaN             NaN      F     T     T      F     desktop
3       NaN             NaN      F     F     T      F      mobile
4       NaN             NaN      F     F     T      F      mobile

                    DeviceInfo
0  MYA-L13 Build/HUAWEIMYA-L13
1         LGLS676 Build/MXB48T
2                  Trident/7.0
3  MYA-L13 Build/HUAWEIMYA-L13
4         SM-G9650 Build/R16NW

[5 rows x 41 columns]